{% extends 'layout.html.twig' %}

{% block title %}Actions/Consigne{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/event.css') }}">
{% endblock %}

{% block content %}
    <div class="page-container">
        <div class="section">
            <i class="bx bx-file section-icon"></i>
            <h2>Consigne</h2>
            <div class="instruction-buttons">
                <!-- Attribuer un ID unique à chaque bouton -->
                <button id="plus-con"> <i class="bx bx-plus"></i></button>
                <button id="pencil-con"> <i class="bx bx-pencil"></i></button>
                <button id="trash-con"> <i class="bx bx-trash"></i></button>
            </div>
        </div>

        <div class="section">
            <i class="bx bx-wrench section-icon"></i>
            <h2>Actions</h2>
            <div class="action-buttons">
                <!-- Attribuer un ID unique à chaque bouton -->
                <button id="plus-act"> <i class="bx bx-plus"></i></button>
                <button id="pencil-act"> <i class="bx bx-pencil"></i></button>
                <button id="trash-act"> <i class="bx bx-trash"></i></button>
            </div>
        </div>
    </div>
{% endblock %}
