body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(15deg, #000000 0%, #0e1516 150%);
}

h1 {
  color: orange !important;;
  margin-left: 90px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: black;
  margin-left: 90px;
  
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: white;
  
}

.note {
  border-left: 6px solid;
}

.danger {
  background-color: #ffdddd;
  border-color: #f44336;
}

.success {
  background-color: #ddffdd;
  border-color: #04AA6D;
}

.info {
  background-color: #e7f3fe;
  border-color: #2196F3;
}

.warning {
  background-color: #ffffcc;
  border-color: #ffeb3b;
}

.pagination-container {
  margin-top: 20px;
  text-align: center; /* Center horizontally */
}

.pagination {
  display: inline-block;
}

.pagination a {
  color:orange !important;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .active {
  background-color: #2196F3;
  color: white;
}

/* Style for the search form */
form {
  margin-bottom: 20px;
}

/* Style for the search button */
button {
  padding: 8px 16px;
  background-color:orange !important;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 430px;
}

/* Style for form input */
input {
  padding: 8px;
  margin-top: 70px;
  margin-left: 32px;
}