


{% block head %}
  
    <link rel="stylesheet" href="{{ asset('assets/css/home.scss') }}">
    <script><link rel="stylesheet" href="{{ asset('assets/js/home/home.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1 title='Sure this name is trademarked!'>Typo</h1>
<pre id="output"></pre>
<p>
  <button>Restart</button>
</p>
{% endblock %}
