{% extends 'layout.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block header %}Effectuer une Recherche{% endblock %}

{% block content %}
    <form method="get" action="">
        <label for="searchTerm">Terme de recherche :</label>
        <input type="text" id="searchTerm" name="searchTerm" required>
        <button type="submit">Rechercher</button>
    </form>
{% endblock %}
