{% extends 'layout.html.twig' %}

{% block title %}Résultats de Recherche{% endblock %}

{% block header %}Résultats de Recherche{% endblock %}

{% block content %}
    <h2>Résultats pour  :</h2>
    {# Afficher les résultats ici #}
{% endblock %}
