<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
    <link rel="shortcut icon" href="{{ asset('assets/img/orange.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>
    <div class="navbar">
        <!-- Bouton pour ouvrir/fermer la sidebar -->
        <div class="toggle-sidebar" onclick="toggleSidebar()">
            <i class='bx bx-menu'></i>
            <div class="text"></div>
        </div>



        <!-- Onglets de la navbar -->
        <div class="navbar-icons">

    ...


    <!-- Nouvelle page "Accueil" -->
      <a href="#" class="navbar-icon" id="clickable-icon">

        <img src="{{ asset('assets/img/orange.ico') }}" alt="Accueil" width="24" height="24">


    </a>

</div>
        <div class="navbar-icons">
            <a href="#" class="navbar-icon">
                <i class='bx bx-grid-alt'></i>
                <span class="name">Dashboard</span>
            </a>

            <!-- Nouvelle page "Profile" -->
            <a href="#" class="navbar-icon">
                <i class='bx bx-user'></i>
                <span class="name">Profile</span>
            </a>

            <!-- Nouvelle page "Messages" -->
            <a href="#" class="navbar-icon">
                <i class='bx bx-message'></i>
                <span class="name">Messages</span>
            </a>
        </div>
    </div>

<!-- Sidebar -->
<div class="sidebar close">
    <!-- Contenu de la sidebar avec des icônes -->
    <a href="#" class="sidebar-icon">
        <i class='bx bx-home'></i>
        <span class="name">Home</span>
    </a>

    <a href="#" class="sidebar-icon">
        <i class='bx bx-search'></i>
        <span class="name">Search</span>
    </a>

    <a href="#" class="sidebar-icon">
        <i class='bx bx-calendar'></i>
        <span class="name">Calendar</span>
    </a>

    <a href="#" class="sidebar-icon">
        <i class='bx bx-heart'></i>
        <span class="name">Favorites</span>
    </a>

    <a href="#" class="sidebar-icon">
        <i class='bx bx-message'></i>
        <span class="name">Messages</span>
    </a>

    <a href="#" class="sidebar-icon">
        <i class='bx bx-user'></i>
        <span class="name">Profile</span>
    </a>

    <a href="#" class="sidebar-icon">
        <i class='bx bx-cog'></i>
        <span class="name">Settings</span>
    </a>

    <!-- Ajoutez d'autres icônes de la sidebar ici... -->
</div>


    <!-- Link JS -->
    <script src="{{ asset('assets/js/main.js') }}"></script>

</body>
</html>
