{% extends 'layout.html.twig' %}


{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/event.css') }}">
{% endblock %}

{% block content %}
<header>
  <h1>Navigation</h1>
  <span>Cette onglet repertorie et classe toutes les fiches consignes nécessaire à la resolution d'un évenement</span>
</header>


<div class="container gray highlightTextIn">
 <a alt="FICHE">FICHE</a>
  <a alt="FICHE">FICHE</a>
  <a alt="FICHE">FICHE</a>
  <a alt="FICHE">FICHE</a>
  <a alt="FICHE">FICHE</a>
  <a alt="FICHE">FICHE</a>
  <a alt="FICHE">FICHE</a>
  <a alt="FICHE">FICHE</a>
</div>

{% endblock %}
