{% extends 'layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('assets/css/userad/userad.css') }}" />
    <!-- Supprimez la ligne avec Font Awesome pour tester avec du texte simple -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}">
    <script src="{{ asset('assets/js/home/dashboard.js') }}"></script>
    <script> </script>
{% endblock %}

{% block content %}
<div class='dashboard'>

  <div class='column'>
    
    <div id="chart1" class='item'></div>
    <div id="chart2" class='item'></div>
    <div id="chart3" class='item'></div>
  
  </div>

  <div class='column'>
    
    <div id="chart4" class='item'></div>
  
  </div>

</div>

<div class='dashboard'>

  <div class='column'>
   
    <div id="chart5" class='item'></div>
  
  </div>

  <div id="br">
    
    <section>
      
      <div id="chart6" class='small item'></div>
      <div id="chart7" class='small item'></div>
    
    </section>

    <div class='column'>
     
      <div id="chart8" class='item'></div>
    
    </div>
  
  </div>

</div>

{% endblock %}